[flake8]
extend-ignore = E203  # allow whitespace before `:`, to conform with black: https://github.com/psf/black/issues/1437
max-line-length = 88  # this is also under pytest-flake8 in pyproject.toml, but it's needed here to avoid VS Code errors
